extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}!

        p Get todays' scores for:
        form(name="getScores", action="/scores", method="get")
            p NBA:
            select(name="NBA")
                for NBATeam in teams.NBA
                    option= NBATeam
            p NHL:
            select(name="NHL")
                for NHLTeam in teams.NHL
                    option= NHLTeam
            p EPL:
            select(name="EPL")
                for EPLTeam in teams.EPL
                    option= EPLTeam
            br
            br
            input(type="submit", value="Get Scores!")


