extends layout

block content
    div.container
        h1= title
        br
        each gameResult, sport in result
            div(class="sport-section", id= sport)
                h2.sport-header= sport
                div.scores
                    if gameResult.message
                        p= gameResult.message
                    else
                        table
                            tr
                                td
                                    img(src=gameResult.awayTeam.logo)
                                td= gameResult.awayTeam.name
                                td.score #{gameResult.awayTeam.score} : #{gameResult.homeTeam.score}
                                td= gameResult.homeTeam.name
                                td
                                    img(src=gameResult.homeTeam.logo)
                            tr
                                td(colspan=5) #{gameResult.gamestate.gametime} / #{gameResult.gamestate.status}
                        br
        br



